## 환율 데이터 받아오기
- 환율 데이터 출처
- https://spot.wooribank.com/pot/Dream?withyou=FXXRT0014

In [1]:
import pandas as pd

In [2]:
# 데이터가 없는 날이 있기 때문에 그것을 채워준다.
def manipulate_exchange_data(money, start, end):
    start_date = start
    end_date = end
    
    # 기간의 모든 날짜 생성
    date_range = pd.date_range(start=start_date, end=end_date)
    
    # 데이터 프레임에 날짜 채워넣기
    df_date = pd.DataFrame(date_range, columns=['일자'])
    
    # 원하는 형식으로 날짜 변환 (옵션)
    df_date['일자'] = df_date['일자'].dt.strftime('%Y.%m.%d')
    
    # 모든 일자 데이터에 money 데이터 병합
    money = df_date.merge(money, on='일자', how='left')
    
    # 바로 전 데이터로 결측값 채우기
    money['기준환율'] = money['기준환율'].ffill().bfill()
    
    return money

In [3]:
money_2022 = pd.read_excel('DATA/환율_2022_수정전.xlsx')
money_2023 = pd.read_excel('DATA/환율_2023_수정전.xlsx')

In [4]:
money_2022 = money_2022[['일자', '기준환율']]
money_2023 = money_2023[['일자', '기준환율']]

In [5]:
money_2022 = manipulate_exchange_data(money_2022, '2022-01-01', '2022-12-31')
money_2023 = manipulate_exchange_data(money_2023, '2023-01-01', '2023-12-31')

In [6]:
money_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      365 non-null    object
 1   기준환율    365 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.8+ KB

In [7]:
money_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      365 non-null    object
 1   기준환율    365 non-null    object
dtypes: object(2)
memory usage: 5.8+ KB

In [8]:
money_2023['기준환율'] = money_2023['기준환율'].str.replace(",", "")
money_2023['기준환율'] = money_2023['기준환율'].astype('float')

In [9]:
money_2022.head()

           일자    기준환율
0  2022.01.01  1185.5
1  2022.01.02  1185.5
2  2022.01.03  1185.5
3  2022.01.04  1190.8
4  2022.01.05  1194.3

In [10]:
money_2023.head()

           일자    기준환율
0  2023.01.01  1267.3
1  2023.01.02  1267.3
2  2023.01.03  1268.9
3  2023.01.04  1272.1
4  2023.01.05  1274.7

In [11]:
money_2022.to_csv('DATA/환율_2022.csv', index=False)
money_2023.to_csv('DATA/환율_2023.csv', index=False)